.fileContainer {
  border: 2px solid white;
  border-radius: 0.375rem;
  padding: 2rem;
  background-color: rgba(128, 128, 128, 0.247);
}

.dropZone {
  padding: 0.5rem;
  border: 2px dashed #d1d5db;
  color: white;
  font-size: 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
}