.fileContainer {
    border: 2px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .dropZone {
    padding: 0.5rem;
    height: 100%;
    border: 2px dashed #d1d5db;
    color: #9ca3af;
    font-size: 1rem;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: fit-content;
  }
  
  .uploadedImage {
    width: 100%;
    border-radius: 0.375rem;
    object-fit: cover;
    align-self: start;
  }
  
  .file-input {
    display: none;
  }
  