:root {
  --main-color: #393C9F;
  --background-main: #c4bebb;
  --background-secondary: #8d8a90;
}

.App {
  text-align: center;
  background-color: #393C9F;
  color: var(--background-main)
}

.App-header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--background-main);
}

.headerTitle {
  color: var(--main-color);
  background-color: var(--background-secondary);
  border: solid;
  border-color: var(--background-secondary);
  border-radius: 5%;
}

.rom-section {
}

#keyboard-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvasOuter {
  display: flex;
  padding-top: 2%;
  margin:2 0px 60px;
  flex-direction: column;
}

.canvasInner {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  position: relative;
}

.canvas {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 12%;
  left: 23.5%;
  width: 54%;
  height: 30%;
  background-color: #498d2ece;
  @media (max-width: 480px) {
    left: 30%;
  }
}

.gb-img {
  position: relative;
  justify-content: center;
  align-items: center;
}